* {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
  background-color: #1a1a1a;
}

body {
  margin: 3%;
}

a {
  color: gold;
}

h2 {
  color: gold;
}

nav {
  display: flex;
  justify-content: space-around;
}
